apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  labels:
    app: fruits-catalog
    group: com.github.lbroudoux.msa
    provider: fabric8
    version: 1.0.0-SNAPSHOT
  name: fruits-catalog
spec:
  replicas: 1
  selector:
    app: fruits-catalog
    group: com.github.lbroudoux.msa
    provider: fabric8
  strategy:
    activeDeadlineSeconds: 21600
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 3600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      labels:
        app: fruits-catalog
        group: com.github.lbroudoux.msa
        provider: fabric8
        version: 1.0.0-SNAPSHOT
      annotations:
        vault.hashicorp.com/agent-inject: "true"
        vault.hashicorp.com/agent-init-first: "true"
        vault.hashicorp.com/agent-inject-status: "update"
        vault.hashicorp.com/agent-inject-secret-application.properties: "database/creds/fruit-catalog-role"
        vault.hashicorp.com/agent-inject-template-application.properties: |
          {{- with secret "database/creds/fruit-catalog-role" -}}
          spring.data.mongodb.uri=mongodb://{{ .Data.username }}:{{ .Data.password }}@mongodb/sampledb
          {{- end }}
        vault.hashicorp.com/secret-volume-path-application.properties: "/deployments/config/"
        vault.hashicorp.com/role: "fruits-catalog"
        vault.hashicorp.com/tls-skip-verify : "true"
    spec:
      containers:
        - env:
            #- name: KEYCLOAK_URL
            #  value: 'https://keycloak-fruits-catalog.apps.144.76.24.92.nip.io/auth'
            - name: KUBERNETES_NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
          image: >-
            image-registry.openshift-image-registry.svc:5000/fruits-catalog/fruits-catalog:latest
          # Use this notation on OpenShift 3
          #image: docker-registry.default.svc:5000/fruits-catalog/fruits-catalog:latest
          imagePullPolicy: IfNotPresent
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /actuator/health
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 3
          name: spring-boot
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
            - containerPort: 9779
              name: prometheus
              protocol: TCP
            - containerPort: 8778
              name: jolokia
              protocol: TCP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /actuator/health
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 3
          resources:
            limits:
              cpu: '1'
              memory: 256Mi
            requests:
              cpu: 200m
              memory: 256Mi
          volumeMounts:
          - name: app-config
            mountPath: /deployments/config
          securityContext:
            privileged: false
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      serviceAccount: fruits-catalog-vault
      serviceAccountName: fruits-catalog-vault
      volumes:
      - name: app-config
        emptyDir: {}
      securityContext: {}
      terminationGracePeriodSeconds: 30
  test: false
  triggers:
    - type: ConfigChange
    - imageChangeParams:
        automatic: true
        containerNames:
          - spring-boot
        from:
          kind: ImageStreamTag
          name: 'fruits-catalog:latest'
          namespace: fruits-catalog
      type: ImageChange
